table.osoby {
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border-collapse: collapse;
}

tr, td.osoby {
    border: 2px solid black;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

td.phonenum {
	text-align:right;
}